* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}

header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* Left nav */
.nav {
    display: flex;
}

.h-icon {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: #4a4a4a;
    padding: 0.3rem;
    border-radius: 5px;
}

main {
    height: calc(100vh - 180px);
    overflow-y: auto;
}

footer {
    background-color: #222222;
    height: 100px;
}