* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}

/* header */
header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav {
    display: flex;
}

.h-icon {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: #4a4a4a;
    padding: 0.3rem;
    border-radius: 5px;
}

/* main */
main {
    height: calc(100vh - 140px);
    overflow-y: auto;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 80px;
}

footer .fas {
    font-size: 2rem;
}

/* footer left */
.f-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: 12%;
}

.f-left-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    height: 60px;
}

.fas.fa-angle-up {
    font-size: 1rem;
}

/* footer right */
.f-right {
    display: flex;
    align-items: center;
    background-color: #4a4a4a;
    color: red;
    height: 80px;
    padding: 0 1.5rem;
}